@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");

* {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: lightgray;
}
::-moz-placeholder { /* Firefox 19+ */
  color: lightgray;
}
:-ms-input-placeholder { /* IE 10+ */
  color: lightgray;
}
:-moz-placeholder { /* Firefox 18- */
  color: lightgray;
}

/* Hide scrollbar for Chrome, Safari and Opera */
  body::-webkit-scrollbar {
	  display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .body { 
    margin: auto; 
    max-width: 1450px; 
    align-items: center; 
    justify-content: center; 
    align-self: 'center'; 
  }

  .main-content {
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    display: flex;
    transition: .3s ease-in-out;
  }


  /* side profile */

  .first-content{
    height: 100%;
    position: fixed;
    justify-content: center;
    display: flex;
    width: 35%;
    max-width: 490px;
    object-fit: cover;
    background-image: url('../src/images/woods.jpg');
    background-repeat: no-repeat;
    background-size: 100% 70rem;
    transition: .3s ease-in-out;
  }

  .header {
    flex-direction: column;
    height: 100%;
    display: flex;
    justify-content: space-around;
  }

  .inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 65px;
    padding-left: 65px;
    margin-top: 0px;
  }

  .image_avatar {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    object-fit: cover;
    transition: .3s ease-in-out;
  }

  .intro {
    text-align: right;
    color: white;
    font-size: 14pt;
    color: rgba(255, 254, 255, 0.8);
    font-weight: 400;
		line-height: 1.75em;
  }

  .icon-container {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    padding-right: 65px;
    padding-left: 65px;
    flex-direction: column;
    transition: .3s ease-in-out;
  }

  .icon-content {
    align-self: flex-end;
    display: flex;
    margin-bottom: 20px;
    padding-right: 2px;
    padding-left: 2px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;
  }

  .icon-1 {
    margin: 4px;
    cursor: pointer;
  }

  .footer-details {
    align-self: flex-end;
    display: flex;
    color: rgba(255, 254, 255, 0.5);
    transition: .3s ease-in-out;
  }

  .footer-details, li {
    padding-right: 4px;
    padding-left: 4px;
  }

  .copyright {
    border-right: solid rgba(255, 254, 255, 0.5) 1px;
    font-size: 10px;
  }

  .author {
    font-size: 10px;
  }

  /* summary */

  .second-content{
    display: flex;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    width: 65vw;
    transition: .3s ease-in-out;
    max-width: 910px;
  }

  .contents {
    width: 88%;
    transition: .3s ease-in-out;
  }

  .summary-container {
    margin-top: 8.3rem;
    transition: .3s ease-in-out;
  }

  .summary-title {
    font-size: 24pt;
    color: rgba(0, 0, 0, 0.6);
  }

  .summary-content {
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.80rem;
    width: 82%;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4rem;
    border-bottom: solid 1.4px rgba(0, 0, 0, 0.08);
  }

  .description {
    margin-bottom: 25pt;
  }

  .action {
    border: solid rgba(0, 0, 0, 0.07) 2.5px;
    border-radius: 7px;
    width: 150px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 4rem;
    transition: 0.3s ease-in;
  }

  .action:hover {
    color: black;
    border: solid rgba(0, 0, 0, .60) 2.5px;
    transition: 0.3s ease-in;
  }

  /* Recent work */

  .experience-container {
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.80rem;
    width: 82%;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4rem;
    border-bottom: solid 1.4px rgba(0, 0, 0, 0.08);
    transition: .3s ease-in-out;
  }

  .experience-title {
    font-size: 17pt;
    color: rgba(0, 0, 0, 0.6);
  }

  .work-items-row {
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 115%;
    transition: .3s ease-in-out;
  }

  .work-item {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
    margin-right: 5rem;
    width: 38%;
    transition: .3s ease-in-out;
  }

  .thumbnail-container {
    display: flex;
    align-items: center;
    transition: .3s ease-in-out;
  }

  .overlay {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    width: 100%;
    cursor: pointer;
    opacity: 0;
  }

  .overlay:hover {
    opacity: 1;
    transition: 0.3s ease-in;
  }

  .overlay-btn {
    border: solid rgba(255, 255, 255, 0.5) 2px;
    border-radius: 5px;
    width: 85px;
    font-size: medium;
    padding: 5px;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    cursor: pointer;
  }

  .thumbnail {
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 200px;
    transition: .3s ease-in-out;
  }

  .work-title {
    font-size: 17px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
  }

  .work-description {
    margin-top: -.80rem;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
  }

  /* Send message content */
  .send-message-container {
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.80rem;
    width: 82%;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4rem;
    border-bottom: solid 1.4px rgba(0, 0, 0, 0.08);
    transition: .3s ease-in-out;
  }

  .send-message-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: .3s ease-in-out;
  }

  .send-message-title {
    font-size: 17pt;
    color: rgba(0, 0, 0, 0.6);
  }

  .text-input-address {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .text-input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: .3s ease-in-out;
  }

  .text-input-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    transition: .3s ease-in-out;
  }

  .name-email {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
  }

  input {
    width: 175px;
    border: none;
    font-size: medium;
    margin-bottom: 10px;
    padding: 14px;
    background-color: #EEEDEC;
    border-radius: 5px;
    transition: .3s ease-in-out;
  }

  #message {
    width: 400px;
    height: 120px;
    font-size: medium;
    background-color: #EEEDEC;
    border-radius: 5px;
    padding: 8px;
    resize: none;
    border: none;
    transition: .3s ease-in-out;
  }

  .action-3 {
    border: solid rgba(0, 0, 0, 0.07) 2.5px;
    border-radius: 7px;
    width: 150px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 4rem;
    transition: 0.3s ease-in;
  }

  .action-3:hover {
    color: black;
    border: solid rgba(0, 0, 0, .60) 2.5px;
    transition: 0.3s ease-in;
  }

  .address-content {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
  }

  .email-content {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    align-items: center;
  }

  .icon-2 {
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .address, .email {
    margin-left: 4px;
    text-decoration: dotted;
  }

  .email {
    transition: 0.3s ease-in;
    color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px dotted;
  }

  .email:hover {
    transition: 0.3s ease-in;
    color: rgba(0, 0, 0, .7);
    border-bottom: 1px dotted rgba(255, 255, 255, 0);
  }

  /* Technologies used */
  .tech-container {
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.80rem;
    width: 82%;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 2rem;
  }

  .tech-title {
    font-size: 17pt;
    color: rgba(0, 0, 0, 0.6);
  }

  #icons {
    font-size: 35px;
    padding: 7px;
  }

  .icons-row {
    display: flex;
    flex-wrap: wrap;
  }

  .expo-logo {
    width: 55px;
    height: 55px;
  }

  /* Footer */
  .footer {
    display: none;
    transition: .3s ease-in-out;
  }


  /* Modal container */
  .modal-container {
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .5s ease-in;
  }

  .close-modal {
    display: flex;
    align-items: center;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: flex-end;
    width: 100%;
    background-color: white;
  }

  .modal-content {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: red;
    transition: .5s ease-in;
  }

  .left-arrow {
    background-color: white;
    width: 70px;
    height: 50%;
  }


    /* @media queries */
    @media screen and (max-width: 1383px) {
      .first-content{
        transition: .3s ease-in-out;
        width: 35%;
      }

      .second-content{
        width: 65%;
        transition: .3s ease-in-out;
      }
    }

    @media screen and (max-width: 1297px) {
      .first-content{
        transition: .3s ease-in-out;
        width: 30%;
        max-width: 1600px;
      }

      .inner {
        align-items: center;
        transition: .3s ease-in-out;
        padding-right: 10px;
        padding-left: 10px;
      }

      .intro {
        font-size: 13pt;
        transition: .3s ease-in-out;
        text-align: center;
        width: 100%;
      }

      .icon-content {
        align-self: center;
        transition: .3s ease-in-out;
      }

      .second-content{
        width: 70%;
        transition: .3s ease-in-out;
      }
    }



    @media screen and (max-width: 1191px) {
      .body {
        display: flex;
        align-items: center;
        flex-direction: column;
        transition: .3s ease-in-out;
        justify-content: flex-start;
      }

      .first-content{
        height: 25rem;
        position: relative;
        width: 100%;
        background-image: url('../src/images/cabin.jpg');
        background-size: 100% 35rem;
        background-position-y: center;
        transition: .3s ease-in-out;
        max-width: 1600px;
      }

      .second-content{
        max-width: 1600px;
      }

      .inner {
        align-items: center;
        transition: .3s ease-in-out;
        padding-right: 10px;
        padding-left: 10px;
        transition: .3s ease-in-out;
      }

      .intro {
        font-size: 13pt;
        transition: .3s ease-in-out;
        text-align: center;
        width: 375px;
        transition: .3s ease-in-out;
        color: rgba(255, 254, 255, 1);
      }

      .icon-container {
        display: none;
        transition: .3s ease-in-out;
      }

      .second-content{
        display: flex;
        justify-content: center;
        align-self: center;
        align-items: center;
        width: 100%;
        transition: .3s ease-in-out;
      }

      .summary-container {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: .3s ease-in-out;
      }

      .experience-title {
        font-size: 17pt;
        color: rgba(0, 0, 0, 0.6);
        align-self: flex-start;
        transition: .3s ease-in-out;
      }

      .experience-container {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: .3s ease-in-out;
      }

      .work-items-row {
        /* background-color: aqua; */
        justify-content: space-around;
        transition: .3s ease-in-out;
      }

      .work-item {
        margin: 0px;
        transition: .3s ease-in-out;
      }

      .button-container {
        align-self: flex-start;
        transition: .3s ease-in-out;
      }

      .footer {
        display: flex;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 10rem;
        justify-content: center;
        background-color: red;
        object-fit: cover;
        background-image: url('../src/images/valley.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100vh;
        background-position-y: bottom;
        transition: .3s ease-in-out;
      }
    }



    @media screen and (max-width: 900px) {
      .second-content{
        display: flex;
        justify-content: center;
        align-self: center;
        align-items: center;
        width: 100%;
        transition: .3s ease-in-out;
      }

      .summary-container {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: .3s ease-in-out;
      }

      .experience-title {
        font-size: 17pt;
        color: rgba(0, 0, 0, 0.6);
        align-self: flex-start;
        transition: .3s ease-in-out;
      }

      .experience-container {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: .3s ease-in-out;
      }

      .work-items-row {
        /* background-color: aqua; */
        justify-content: space-around;
        transition: .3s ease-in-out;
      }

      .work-item {
        margin: 0px;
        transition: .3s ease-in-out;
      }

      .button-container {
        align-self: flex-start;
        transition: .3s ease-in-out;
      }

      .text-input-address {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        transition: .3s ease-in-out;
      }
    
      .action-3 {
        margin-bottom: 1rem;
        transition: .3s ease-in-out;
      }
    
      .info-content {
        display: flex;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 3rem;
        transition: .3s ease-in-out;
      }

    }
    


    @media screen and (max-width: 610px) {
      .first-content{
        height: 15rem;
        background-image: url('../src/images/cabin.jpg');
        background-size: 100% 25rem;
        transition: .3s ease-in-out;
      }

      .summary-content {
        width: 95%;
        transition: .3s ease-in-out;
      }
      
    .experience-container {
        width: 95%;
        transition: .3s ease-in-out;
      }

    .send-message-container {
        width: 95%;
        transition: .3s ease-in-out;
      }
      
    .tech-container {
        width: 95%;
        transition: .3s ease-in-out;
      }

      .footer {
        background-size: 100% 50vh;
        transition: .3s ease-in-out;
      }
    }



    @media screen and (max-width: 575px) {
      .second-content{
        display: flex;
        justify-content: center;
        align-self: center;
        align-items: center;
        width: 100%;
        transition: .3s ease-in-out;
      }

      .summary-container {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: .3s ease-in-out;
      }

      .experience-title {
        font-size: 17pt;
        color: rgba(0, 0, 0, 0.6);
        align-self: flex-start;
        transition: .3s ease-in-out;
      }

      .experience-container {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: .3s ease-in-out;

      }

      .work-items-row {
        /* background-color: aqua; */
        justify-content: space-around;
        transition: .3s ease-in-out;
      }

      .work-item {
        margin: 0px;
        transition: .3s ease-in-out;
      }

      .button-container {
        align-self: flex-start;
        transition: .3s ease-in-out;
      }

      .text-input-address {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        transition: .3s ease-in-out;
      }

      .action-3 {
        margin-bottom: 1rem;
        transition: .3s ease-in-out;
      }

      .info-content {
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 3rem;
        transition: .3s ease-in-out;
      }
    }



    @media screen and (max-width: 500px) {
      .text-input-container {
        width: 100%;
        transition: .3s ease-in-out;
      }
    
      input {
        width: 42%;
        transition: .3s ease-in-out;
      }
    
      #message {
        width: 97%;
        transition: .3s ease-in-out;
      }
    }